@rtorcato/js-tooling:registry=https://gitlab.com/api/v4/projects/60855075/packages/npm/

@rtorcato/js-common:registry=https://gitlab.com/api/v4/projects/69645966/packages/npm/
//gitlab.com/api/v4/projects/69645966/packages/npm/:_authToken=${NPM_TOKEN}

@rtorcato:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${NPM_TOKEN}